body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:  hidden;
   }


 @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

 *{
    font-family: 'Karla';
 }
 
 body{
    background: #F4F5FA;
 }
 .btn-filter:hover {
  
  color: #ff9041;
  cursor: pointer;
}
 

 
 .flex-box{

 display: flex;
 justify-content: center;
  flex-wrap: wrap;
 margin-top: 2rem;
 row-gap: 0px;
 column-gap: 0px;
 flex:1,1,1,1;
row-gap: 2rem;
margin-left: 10rem;


 }
 .categories-buttonsz{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6rem;
}
.btn-filter{
margin-left: 3rem;
}

 .cardpk{
  display: flex;
  flex-direction: column;
   width:15rem;
    height: auto;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
 }
 
 .imagex img{
 width: 100%;

 object-fit: cover;

 }
 .channel-icon {
  margin-right: .75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
}
 .video-details {
  display: flex;
  flex-direction: column;
}
.video-title {
  font-size: 0.99rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}
.video-bottom-section {
  display: flex;
  align-items: flex-start;
    

}
 @media(max-width: 1200px){
  .flex-box{
   display: flex;
   margin-top:5.4rem;
   margin-bottom:4rem;
   margin-right: 1rem;

  }
  .cardpk{
    width: 350px;

  }


}@media(max-width: 1300px){
  .flex-box{
   display: flex;
   margin-left: 14rem;
   margin-top:5.4rem;
   margin-bottom:4rem;
   flex:1,1;
  
  }
  .cardpk{
    width: 250px;
  }

}
@media(max-width: 894px){
  .flex-box{
   display: flex;
margin-right: 2rem;
   margin-top:5.4rem;
   margin-bottom:4rem;

  }
  .cardpk{
    width: 250px;
  }

}
@media(max-width: 830px){
  .flex-box{
   display: flex;
   margin-left: 2rem;
   margin-top:5.4rem;
   margin-bottom:4rem;
 
  }
  .cardpk{

    width:191px;
  }

}
@media(max-width: 650px){
  .flex-box{
   display: flex;
   margin-left: 6rem;
   margin-top:5.4rem;
   margin-bottom:4rem;
  
}

}
 @media(max-width: 635px){
  .flex-box{
   display: flex;
   justify-content: center;
   margin-left: 24px;
   margin-top:5.4rem;
   margin-bottom:4rem;
  }
  .cardpk{
    width: 470px;

  }
  .imagex img{
    width: 100%;
    object-fit: cover;
   
    }
}
@media(max-width: 410px){
  .flex-box{
   display: flex;
   justify-content: center;

   margin-top:5.4rem;
   margin-bottom:4rem;
  }
  .cardpk{
    width: 470px;
    height: auto;
  }
  .imagex img{
    width: 100%;
    }
}
