.modal-wrapper{
    left:0;
    right: 0;
    bottom: 0;
    top:0;
    background-color:rgba(189,189,189,0.9);
}
.modal-container {
    position: fixed;
    top:50%;
    left:50% ;
    transform :translate(-50%,-50%) ;
    max-width: 30rem;
    background-color:white;
    z-index: 9999;
}
.model-btn{
    padding: 0.6rem 1.4rem;
    font-size: 1.4rem;
    border: none;
}