.App {
    font-family: sans-serif;
    text-align: center;
  }
  html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #101010;  
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.3;
  }
  
  .cardsz {
    display: flex;
  
 flex-wrap: wrap;
   margin-top: 5rem;
    gap: 1.5rem;
    padding: 3rem;
  } 
  .cardv{
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
    max-width: 350px;
    overflow: hidden;
   
    color: #000000;


    text-decoration: none;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
    overflow: hidden;
  }
 .card1 img{
 width: 100%;
  height: 100%;
 
 }
 .cards1-info {
    display: flex;
    flex-direction: column;
 }
 .cards1-info img {
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
 
 }